@charset 'UTF-8';

* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #fff;
  text-align: center;
}

label {
  font-size: 2em;
  display: block;
  margin: auto;
}

div {
  margin: auto;
}

button {
  display: inline;
  background-color: #3e3ef3;
  width: 100px;
  height: 25px;
  margin-left: 20px;
  border: none;
  border-radius: 15px;
}